.titleAndDescriAppList {
    border: solid 1px;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
    width: 600px;
    background-color: rgba(138, 228, 116, 0.5);
    margin-right: 10px;
}

.dark .titleAndDescriAppList {
    background-color: rgba(48, 81, 40, 0.5);
}

.dark.list {
    background-color: rgb(26, 22, 22);
    color: white;
}

.listingEvents {
    display: flex;
    flex-flow: column wrap;
}


.globalTitleAllApp {
    color: #1C3879;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titleOfDate,
.dateSubtitle,
.timeSubtitle {
    color: #1C3879;
}
.dark .titleOfDate,
.dark .dateSubtitle,
.dark .timeSubtitle,
.dark .globalTitleAllApp{
    color: #2b56b9;
}

.timeSubtitle{
 margin :0;
}

.titleOfDate {
    margin-left: 30rem;
}

.containerAppList,
.containerButtons,
.containerAppointment {
    display: flex;
    flex-direction: row;
    color: rgb(31, 29, 29);
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.dark .containerAppList,
.dark .containerButtons,
.dark .containerAppointment {
    color: rgb(255, 255, 255);
}


.containerInfos {
    display: flex;
    flex-direction: column;
}

.containerAppList {
    margin-left: 30px;
}

.buttonAppList {
    margin-right: 10px;
    height: fit-content;
    padding: 0.75em;
    border: none;
    outline: none;
    background-color: #1c3879;
    color: white;
    border-radius: 0.25em;
}

.dark .buttonAppList {
    background-color: #2b56b9;
    color: white;
}

.buttonAppList:hover {
    cursor: pointer;
    background-color: #162d61;
}