.dark.formAddAppointment {
    background-color: var(--dark-main-bg-color);
    border: #95a5a6;
    color: white;
}

.container {
    position: sticky;
    top: 1px;
    display: flex;
    flex-direction: column;
    width: 21vw;
    border-left-style: double;
    border-bottom-style: double;
    border-top-style: double;
    border-right-style: double;
    margin-top: 8px;
}



.labelInfoAddAp {
    color: #1C3879;
    padding-bottom: 5px;
}

.dark .labelInfoAddAp {
    color: var(--dark-title-text-color);
}

.titleAddAppointment {
    text-align: center;
    color: #1C3879;
}

.dark .titleAddAppointment {
    color: var(--dark-title-text-color);
}

.divReoccur {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.divReoccur div {
    padding-top: 5px;

    margin-top: 5px;
}

.divWeekdayCheckbox {
    display: flex;
    flex-flow: column wrap;
    align-items: baseline;
}

.divWeekdayCheckbox label {
    padding-left: 0.7rem;
}

.inputTitle,
.inputDescription,
.inputDuration,
.inputType {
    margin: 0.3em 0em 1.25em 0em;
    outline: none;
    padding: 0.5em;
    border: none;
    background-color: rgb(225, 225, 225);
    border-radius: 0.25em;
}

.dark .inputTitle,
.dark .inputDescription,
.dark .inputDuration,
.dark .inputType {
    background-color: var(--dark-input-field-bg-color);
    color: black;
}

.dark input[type='radio'] {
    accent-color: #517ee6;
}

.inputDescription {
    height: 45px;
}


.inputDuration {
    width: 40px;
}

.divType {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerType {
    display: flex;
    flex-direction: column;
}

.containerButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonValidate,
.buttonCancel,
.buttonDelete {
    margin-top: 1em;
    padding: 0.75em;
    border: none;
    outline: none;
    background-color: #1c3879;
    color: white;
    border-radius: 0.25em;
    margin-right: 1vw;
    margin-left: 1vw;
}

.dark .buttonValidate, .dark .buttonCancel, .dark.buttonDelete{
    background-color: var(--dark-button-color);
}

.buttonDelete {
    background-color: #791c1c;
}

.buttonValidate:hover,
.buttonCancel:hover,
.buttonDelete:hover {
    cursor: pointer;
    background-color: #162d61;
}

.buttonDelete:hover {
    background-color: #611616;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border: 1px solid #ecf0f1;
    background: #ecf0f1;
    padding: 5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"],
focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}