.dark.formAddAppointment{
    background-color: rgb(26, 22, 22);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    width: 21vw;
}



.labelInfoAddAp {
    color: #1C3879;
    padding-bottom: 5px;
}

.dark .labelInfoAddAp {
    color: #517ee6;
}

.titleAddAppointment {
    text-align: center;
    color: #1C3879;
}

.dark .titleAddAppointment {
    color: #517ee6;
}


.inputTitle,
.inputDescription,
.inputDuration,
.inputType {
    margin: 0.3em 0em 1.25em 0em;
    outline: none;
    padding: 0.5em;
    border: none;
    background-color: rgb(225, 225, 225);
    border-radius: 0.25em;
}

.dark .inputTitle,
.dark .inputDescription,
.dark .inputDuration,
.dark .inputType {
    background-color: black;
    color: white;
}

.dark input[type='radio']{
    accent-color: #517ee6;
}

.inputDescription {
    height: 45px;
}


.inputDuration {
    width: 40px;
}

.divType {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerType {
    display: flex;
    flex-direction: column;
}

.containerButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonValidate,
.buttonCancel,
.buttonDelete {
    margin-top: 1em;
    padding: 0.75em;
    border: none;
    outline: none;
    background-color: #1c3879;
    color: white;
    border-radius: 0.25em;
    margin-right: 20px;
    margin-left: 20px;
}

.buttonDelete{
    background-color: #791c1c;
}

.buttonValidate:hover,
.buttonCancel:hover,
.buttonDelete:hover {
    cursor: pointer;
    background-color: #162d61;
}

.buttonDelete:hover {
    background-color: #611616;
}