

.CustomCalendar{
    max-width: 100vw;
    max-height: 100vw;
    width: 100vw;
    padding: 16px;
}

.dark .CustomCalendar {
    background-color: var(--dark-main-bg-color);
    color: white;
}

h2{
    text-transform: capitalize;
}

.container{
    width: 20vw;
    padding: 16px;
}

.MainContainer{
    display: flex;
 }

 .dark .fc .fc-daygrid-day.fc-day-today{
    background-color: var(--dark-active-day-color);
 }

 .dark .fc .fc-toolbar-title{
    color: var(--dark-title-text-color);
 }

.dark .fc .fc-col-header-cell-cushion{
    color: var(--dark-title-text-color);
    font-weight: bolder;
}

.dark .fc .fc-button:not(:disabled){
    background-image: none;
    background-color: var(--dark-button-color);
    color: white;
}

.dark .fc .fc-timegrid-axis-cushion{
    color: var(--dark-title-text-color);
}

.fc .fc-timegrid-axis-cushion{
    max-width: 72px;
}