.errorsContainer{
    color: red;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.112);
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 15px;

    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
}

.errorsContainer li {
    margin-left: 16px;
}

.errorsContainer h5{
    font-weight: 700;
}