.dark.navbar {
    background-color: #0c1731;
}

.navbar {
    overflow: hidden;
    background-color: #1C3879;
    height: auto;
    padding: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbarRight {
    margin-left: auto;
    margin-right: 0;
}

.navbarRight a,
.navbarLeft a {
    color: white;
    text-align: center;
    padding-inline: 10px;
    text-decoration: none;
    font-weight: normal;
    font-size: 22px;
}
.dark .navbarRight a,
.dark .navbarLeft a {
    color: #dfdfdf
}

.navbarRight a {
    float: right;
}

.navbarLeft a {
    float: left;
}

.navbarLeft p:hover,
.navbarRight p:hover {
    color: rgb(184, 180, 180);

}