.formRegister,
.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.dark.formLogin,
.dark.formRegister {
    background-color: var(--dark-main-bg-color);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.titleRegister,
.titleLogin,
.pAlreadyAccount,
.pNoAccount {
    text-align: center;
    color: #1C3879;
}

.dark .titleRegister,
.dark .titleLogin,
.dark .pAlreadyAccount,
.dark .pNoAccount {
    color: var(--dark-title-text-color);
}
.labelInfo {
    color: #1C3879;
}

.dark .labelInfo {
    color: var(--dark-title-text-color);
}

.loginRedirection:visited,
.registerRedirection:visited {
    color: #607EAA;
}

.loginRedirection:hover,
.registerRedirection:hover {
    color: #1C3879;
}

.dark .loginRedirection:hover,
.dark .registerRedirection:hover {
    color: white;
}



.loginRedirection:active,
.registerRedirection:active {
    color: #202c4d;
}

.inputRegister,
.inputLogin {
    margin: 0.3em 0em 1.25em 0em;
    outline: none;
    padding: 0.5em;
    border: none;
    background-color: rgb(225, 225, 225);
    border-radius: 0.25em;
}

.buttonRegister,
.buttonLogin {
    margin-top: 0.5em;
    padding: 0.75em;
    border: none;
    outline: none;
    background-color: #1c3879;
    color: white;
    border-radius: 0.25em;
}

.dark .buttonLogin, .buttonRegister {
    background-color: var(--dark-button-color);
}

.buttonRegister:hover,
.buttonLogin:hover {
    cursor: pointer;
    background-color: #162d61;
}

.success{
    align-self: center;
}